body {
    background-color: #0d1117; /* GitHub's dark background color */
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #c9d1d9; /* GitHub's text color */
}

.container {
    background: #161b22; /* Dark gray background */
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 5px;
    margin-top: 20px;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #1f6feb; /* GitHub's blue color */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.square.yellow {
    background-color: #ffd33d; 
}

.square.red {
    background-color: #d73a49; 
}

.square.green {
    background-color: #28a745; 
}

button {
    background-color: #1f6feb; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0c4b94; 
}

input[type="number"] {
    background-color: #0d1117; 
    border: 1px solid #30363d; 
    padding: 10px;
    border-radius: 5px;
    color: #c9d1d9;
    margin-right: 10px;
}

.score-container {
    background-color: #0d1117; 
    color: #c9d1d9;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
    max-width: 400px;
}

.score-label {
    flex: 1;
    text-align: center;
}

.score-player,
.score-computer {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.square:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.header {
    margin-bottom: 20px;
    text-align: center;
}

.header h1 {
    font-size: 32px;
    margin: 0;
    padding: 10px 0;
    color: #1f6feb; 
    text-transform: uppercase;
    letter-spacing: 2px;
}

label[for="timeInput"] {
    color: #c9d1d9;
    font-size: 16px;
    margin-right: 10px;
}